/* Style for the body tag */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

/* Style for the header tag */
header {
    background-color: #f8faf9;
}

/* Style for the nav tag */
nav {
    background-color: #1bcc5f;
    display: inline-block;
    width: 80%;
}
nav img {
    width: 500%;
}
/* Style for the main tag */
main {
    background-color: #bbd9da;
    font-size: 16px;
}

/* Style for the footer tag */
footer {
    background-color: #db1a1a;
}

/* Style for the li tag */
li {
    display: inline-flex;
    width: 150px;
    font-style: italic;
}

/* Style for the h1 tag */
h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #333333;
}

/* Style for the p tag */
p {
    line-height: 1.2;
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between; 
    align-items: center; 
    row-gap: 20px; 
}
.grid img {
    width: 100%;
}
.flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}